{#
/**
 * @file
 * Example of a twig template driven by Site Studio custom element parameters.
 */
#}
<div class="{{ elementClass }}" data-element="{{elementSettings.graph_source}}">
    {{ elementChildren }}
</div>
